<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Items</title>
</head>
<body>
    <%- include('partials/header') %>


    <main>
        <section class="banner">
        <% if (items.length > 0) { %> 
            <% items.forEach(function(item) { %>
                <div class="item">
                    <img src='<%= item.image %>' alt="<%= item.name %>">
                    <h2><%= item.name %></h2>
                    <p class="price">Price: $<%= item.price %></p>
                    <p class="club">Club: <%= item.club %></p>
                    <p class="condition">Condition: <%= item.condition %></p>
                    <a href="/items/<%= item.id %>" class="item-link">View Details</a>
                </div>
            <% }) %>
        <% } else { %>
                <p class="no-items-found">No items can be found matching your criteria.</p>
            <% } %>
        </section>
    </main>

    <%- include('partials/footer') %>
</body>
</html>
